body {
  margin: 0;
  font-family: Arial;
  overflow-x: hidden; /* 👈 elimina scroll lateral SIEMPRE */
}

/* 🔥 SLIDER COMO FONDO */
.slider {
  position: relative; /* 👈 IMPORTANTE */
  width: 100%;
  height: 100vh; /* asegura tamaño */
  overflow: hidden; /* 👈 ESTO ELIMINA EL SCROLL */
  z-index: -1;
}

/* pista */
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out; /* mueve esto aquí */
}

/* slide */
.slide {
  min-width: 100%;
  flex-shrink: 0; /* 👈 evita que se compriman */
}

/* imagen */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 50px 50px;
}

/* 🔥 MENU ENCIMA */
.DivMenuOpciones {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 70%;
}

/* menu */
.menuOpcione {
  display: flex;
  align-items: center;
  gap: 40px;

  background: linear-gradient(
    to bottom,
    rgba(223, 252, 255, 0.6),
    rgba(155, 231, 240, 0.6),
    rgba(79, 195, 217, 0.6),
    rgba(31, 143, 166, 0.6),
    rgba(10, 95, 115, 0.6)
  );

  padding: 0px 40px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  justify-content: space-evenly;
}

/* items */
.menuOpcione li {
  list-style: none;
}

/* links */
.menuOpcione a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* logo */
.menuOpcione img {
  width: 120px;
}

.contenido {
  position: absolute; /* 🔥 CLAVE */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centra perfecto */

  z-index: 5; /* encima del fondo */
  text-align: center;
  color: white;
}

.contenido img {
  width: 50%;
}

/* 
background: linear-gradient(
  to bottom,
  #dffcff,
  #9be7f0,
  #4fc3d9,
  #1f8fa6,
  #0a5f73
); */

/* flitros agua--------------------------- */

/* SECCION */
/* 🎥 VIDEO FONDO */
.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover; /* 🔥 clave */
  z-index: -2;
}

/* 🌑 OVERLAY SUAVE (NO GRIS PESADO) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2); /* 🔥 ligero */
  z-index: -1;
}
/* ---------------------------- */

.valores {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 50px;
}

.valores img {
  width: 100%;
  border-radius: 15px;
}

.contenedorValores {
  flex: 0 1 clamp(200px, 20%, 350px);
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
  height: 50vh;
  padding: 20px 20px;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    #dffcff71,
    #9be7f071,
    #4fc3d971,
    #1f8fa6a8,
    #0a6073a8
  );
  display: inline-flex;
  flex-direction: column;
}

.DivInfoValores {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.contenedorValores h4 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}

.contenedorValores p {
  margin: 0;
}

.contenedorValores:hover {
  transform: scale(1.05);

  box-shadow:
    0 10px 40px rgba(31, 144, 166, 1),
    0 0 20px rgba(79, 195, 217, 1);

  backdrop-filter: blur(8px);
}

.nosotros p {
  font-size: 65px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    #0a5f73,
    #1f8fa6,
    #4fc3d9,
    #9be7f0,
    #dffcff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  margin: 50px auto;
  display: block;
}

.QuienesSomos {
  background-color: rgba(7, 252, 211, 0.192);
  overflow: visible;
  width: 30%;
  border-radius: 40px 40px 40px 40px;
  margin-left: 2%;
  padding: 40px 40px;
  font-size: larger;
  /* height: 20vh; */
  margin-top: 30px;
}

.QuienesSomos2 {
  background-color: rgba(7, 252, 211, 0.192);
  margin-top: 30px;
  overflow: visible;
  width: 25%;
  height: auto;
  border-radius: 40px 40px 40px 40px;
  margin-left: 2%;
  font-size: larger;
  padding: 40px 40px;
}

.QuienesSomos h3 {
  font-size: medium;
  margin: 0;
  color: grey;
}

.QuienesSomos h2 {
  font-size: 30px;
  margin: 20px 0 0 0;
  background: linear-gradient(
    to bottom,
    #dffcff,
    #9be7f0,
    #4fc3d9,
    #1f8fa6,
    #0a5f73
  );
  font-weight: bold;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.QuienesSomos h2,
p {
  margin-left: 10px;
}

.QuienesSomos p {
  font-weight: 520;
}

.Somos {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  height: 55vh;
  position: relative;
  padding: 100px;

  overflow: hidden;
}

.QuienesSomos2 h3 {
  font-size: medium;
  margin: 0;
  color: grey;
  text-align: end;
}

.QuienesSomos2 h2 {
  text-align: center;
  background: linear-gradient(
    to bottom,
    #dffcff,
    #9be7f0,
    #4fc3d9,
    #1f8fa6,
    #0a5f73
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.QuienesSomos2 p {
  font-weight: 520;
  text-align: center;
}

/* Contenedor de gotas */
.gotas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Cada gota */
.gota {
  position: absolute;
  top: -20px;
  width: 4px;
  height: 15px;
  background: rgba(173, 216, 230, 0.7);
  border-radius: 50%;
  animation: caer linear infinite;
}

/* Animación */
@keyframes caer {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(500px);
    opacity: 0;
  }
}

.lineaHorizontalSomos {
  width: 94%;
  height: 5px;
  border-radius: 20px;
  background-color: black;
  margin: 20px auto;
  display: block;
}

.wave-wrapper {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background-color: transparent;
}

.wave-wrapper2 {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background-color: transparent;
  margin-top: -130px;
}

.wave-wrapper svg,
.wave-wrapper2 svg {
  width: 100%;
  height: 100%;
}

.wavePath {
  fill: #00c2ff;
}

.proyectos {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  
  text-align: center;
  align-items: center;
  padding: 80px 0;
}

.proyectos h3 {
  font-size: 60px;
  font-weight: bold;
}

.proyectos p {
  color: grey;
  font-size: larger;
}

.proyectos h4 {
  color: seagreen;
}

.proyectosIMG {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.porqueElegirnos h4 {
  background: linear-gradient(
    to bottom,
    #dffcff,
    #9be7f0,
    #4fc3d9,
    #1f8fa6,
    #0a5f73
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size: larger;
  text-align: center;
  margin: 0;
}

.porqueElegirnos h3 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.porqueElegirnos h5 {
  text-align: start;
  padding: 10px 25px;
  background-color: rgba(128, 128, 128, 0.433);
  width: fit-content;
  color:#0a5f73;
  font-size: 25px;
  margin: 0;
  border-radius: 30px;
  margin-left: 25px;
}

.porqueElegirnos {
  background-color: rgba(20, 118, 118, 0.285);
  display: block;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 60px;
}

.porqueElegirnos p{
  margin-left: 40px;

}

.divFondo {
  background-color: white;
  margin: 0;
/* padding-bottom: 150px; */
padding: 130px 0;
}

.mision {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.mision h3 {
  font-size: 60px;
}

.divPreguntas {
  width: 100%;
  display: block;
  background-color: white;
}

.preguntas {
  display: block;
  margin: 0 auto;
  padding: 40px;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 80%;
}

.preguntas h4 {
  background-color: grey;
  padding: 20px 40px;
  width: fit-content;
  font-size: larger;
}

.preguntas p {
  text-align: start;
}

.preguntas h4:hover {
  background-color: blue;
  color: white;
  padding: 20px 40px;
  width: fit-content;
  font-size: larger;
  border-radius: 20px;
  transition: 0.7s;
}

.divSocios {
  background-color: white;
}

.socios {
  display: block;
  flex-direction: column;
}

.divSocios2 {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.opiniones {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  background-color: grey;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    0 0 25px rgba(0, 200, 255, 0.3);

  border-radius: 15px;
  padding: 20px;
}

.contactos{
  width: 100%;
  background-color: white;

}

.contactos h5{
  font-size: 60px;
}

.contactos p{
  margin: 0 auto;
  width: 20%;
  display: block;
}

.contactos h4{
    background: linear-gradient(
    to bottom,
    #dffcff,
    #9be7f0,
    #4fc3d9,
    #1f8fa6,
    #0a5f73
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bibliografia{
    background-color: #14365B;
    color: white;
    padding: 60px;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 94%;
}

.bibliografia a{
  color: white;
  list-style: none;
  text-decoration: none;
  
}

.contenedor, .servicios{
  width: 25%;
  text-align: justify;
}

.contenedor h5{
      background: linear-gradient(
    to bottom,
    #dffcff,
    #9be7f0,
    #4fc3d9,
    #1f8fa6,
    #0a5f73
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px;
   margin: 0 0 10px 0;
}

.enlaces ul{
  margin: 0;
  padding: 0 0 0 15px;
  
}

.enlaces h5, .servicios h5, .contactos2 h5{
  margin: 0 0 10px 0;
  font-size: 20px;

}

.contenedor p, .servicios p{
  font-size: 17px;
  margin: 0;
  font-weight: 500;
}


.contactos2{
  display: inline-flex;
  flex-direction: column;
}

 .contactos2 p,.contactos2 a, .contactos2 li, .enlaces li{
  font-size: 17px;
  margin: 0 0 10px 0 ;
  font-weight: 500;
  
  
}

.contactos2 ul{
  margin: 0;
  padding: 0 0 0 15px;
}







/* Posicionamiento general */
.float-btn {
  position: fixed;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;                 /* Ocultos al inicio */
  transform: translateY(40px); /* Desplazados hacia abajo */
  animation: slideUp 0.8s forwards ease-out;
  z-index: 999;
}

/* Ubicación vertical */
.whatsapp {
  bottom: 90px;  
  animation-delay: 2.5s; /* Aparece después de 1.5s */
}
.instagram {
  bottom: 20px;  
  animation-delay: 3.5s; /* Aparece después de 2.5s */
}
.presupuesto {
  bottom: 160px;
  animation-delay: 4.5s; /* Aparece después de 4.5s */
}

/* Animación */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-btn img{
  width: 35px;
  height: auto;
}

/* Efecto hover */
.float-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
